<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
SELECT문일 때,
컬럼명과 VO필드명이 다를 때 (user_name | userName)
select문에서 컬럼명 옆에 반드시 AS 알리야스를 일일히 지정해야 한다.

이런 경우 resultMap이 필요하다.
 -->

<!-- SQL definition -->
<mapper namespace="UserMapper07">
	<resultMap type="user" id="userSelectMap">
		<result property="userId" column="user_id" jdbcType="VARCHAR"/>
		<result property="userName" column="user_name" jdbcType="VARCHAR"/>
		<result property="password" column="password" jdbcType="VARCHAR"/>
		<result property="age" column="age" jdbcType="INTEGER"/>
		<result property="grade" column="grade" jdbcType="NUMERIC"/>
		<result property="regDate" column="reg_date" jdbcType="DATE"/>
	</resultMap>
	
	<!-- 정적인 쿼리문 -->
	<select id="getUser" parameterType="user" resultMap="userSelectMap">
		SELECT
		user_id, user_name, password, age, grade, reg_date
		FROM users
		WHERE user_id=#{userId}
	</select>
	
	<!-- 동적인 쿼리문
		where절 이후를 동적으로 가동하는 쿼리문
		userName이 홍길동이고 age가 30인 데이터를 검색하는 쿼리문을 동적으로 작성 -->
	<select id="getUserList01" parameterType="user" resultMap="userSelectMap">
		SELECT
		user_id, user_name, password, age, grade, reg_date
		FROM users
		<where>
			<if test="userName != null">
				user_name LIKE #{userName}
			</if>
			<if test="age != null">
				OR age LIKE #{age}
			</if>
		</where>
		ORDER BY user_id DESC
	</select>
</mapper>