<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--	
	mybatis-userservice-mapping.xml : SQL 를 갖는 설정화일 (MetaData) 
	- MyBatis Framework 은 XML MetaData를 사용 SQL구문을 관리하며,
	  (SQL은 xml 을 통해 적절히 캡슐화 되어 애플리케이선 의 외부로 분리함)
	- SQL문의 입력(?) / 출력(?)을 매핑한다.  <== 아래의 select element 참조
 -->
 
<!-- SQL definition -->
<!-- Simple하게 CRUD 다 해보겠다 -->
<mapper namespace="UserMapper05">
	<insert id="addUser" parameterType="user">
		INSERT
		INTO users(user_id, user_name, password, age, grade, reg_date)
		VALUES(#{userId}, #{userName}, #{password}, #{age}, #{grade}, #{regDate})
	</insert>
	
	<update id="updateUser" parameterType="user">
		UPDATE users
		SET user_name=#{userName}
		WHERE user_id=#{userId}
	</update>
	
	<delete id="removeUser" parameterType="string">
		DELETE
		FROM users
		WHERE user_id=#{VALUE}
	</delete>
</mapper>

<!-- Null 값 허용하는 옵션을 SqlMapConfig01.xml에 추가
CRUD
select : session.selectList() : List
		 session.selectOne() : Object
insert : session.insert() : Object(0, 1)
delete : session.delete() : Object(0, 1)
update : session.update() : Object(0, 1) 

MyBatis Framework에서만 작동할 경우 (Spring 연결 안 된 경우)
insert(), delete(), update() 수행 직후 반드시 commit() 해야 완벽하게 디비 반영된다.
반대로,
Spring 연결이 되는 경우에는
insert(), delete(), update() 수행 직후 commit()을 하게 되면 Error 발생
 -->